<body>
  This package contains the hot spot extensions to the
  MiniDraw framework for handling Backgammon graphics.

  <p>
    The basic abstractions used in MiniDraw are:
    <ol>
      <li> BackgammonFactory: Abstract Factory of hotspots </li>
      <li> BackgammonDrawing: The MiniDraw drawing instance tailored
	for handling checkers and dice.</li>
      <li> BoardLayout: Constants defining the board layout.</li>
      <li> BackgammonUserInterface: An Object Server for accessing
	bacgkammon elements </li>
      <li> Figures: Graphical objects that show the basic domain
      objects: checkers, dice.
      </li>
      <li> Tools: MiniDraw tools that allow the user to manipulate the
      figures.
      </li>
    </ol>
  </p>

</body>